.header{
	display: flex;
	flex-direction: row;
	height: 100px;
	justify-content: space-between;
	border-bottom: 1px solid #e1e1e1;
}
.cla{
	width: 24px;
	position: right;
	margin: 4px;
}
.buttons{
	display: flex;
	flex-direction: row;
	width: 200px;
	justify-content: space-between;
	margin: 4px;
	margin-right: 50px;
	font-family: Proxima Nova,Tahoma,Serif,Arial;
}
.brainfuck{
	margin-top: 30px;
	font-size: 60px;
	text-decoration: none;
	font-family: Proxima Nova,Tahoma,Serif,Arial;
	text-shadow: 2px 2px 2px gray;
}
.choose{
	display: flex;
	flex-direction: row;
	width: 1000px;
	justify-content: space-between;
}
.cats{
	margin-top: 65px;
	margin-left: 20px;
	font-size: 15px;
	justify-content: center;
}
.home {
	padding: 0;
	background: #f2f2f2;
	display: flex;
	flex-direction: row;
	padding-bottom: 100px;
	justify-content: center;
}
.centre {
	margin: 0 auto;
	width: 1340px;
	padding: 0 20px;
	color: #757575;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#buttonstring {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.top{
	margin: 5px;
}
.top img{
	width: 180px;
	height: 180px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
footer {
	height: 100px;
	background-color: #222;
	color: #fff;
	font-family: Proxima Nova,Tahoma,Serif,Arial;
	font-size: 1.5vw;
	justify-content: space-between;
	display: flex;
	position: relative;
	flex-direction: row;
}
a {
	text-decoration: none;
	color: black;
	font-family: Proxima Nova,Tahoma,Serif,Arial;
}
.centre_profile{
	margin: 0 auto;
	width: 1340px;
	padding: 0 20px;
	color: #757575;
	display: flex;
	flex-direction: column;
}
.ep{
	display: flex;
	flex-direction: row;
}
.userprofile{
	color: black;
	font-family: Proxima Nova,Tahoma,Serif,Arial;
	padding: 10px 22px;

}
.buttonchange{
	background-color: black;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 250px;
}
.usern{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.table{
	border-bottom: 2px solid black;
}
.st_admin{
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.buttondelete{
	background-color: red;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 250px;
}
.users{
	display: flex;
	flex-direction: column;
}
.admusers{
	display: flex;
	flex-direction: column;
}
.buttonadm{
	background-color: rgba(131, 124, 124, 0.678);
	border: none;
	color: rgb(2, 2, 2);
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 120px;
}
.menu
{
	width: 120px;
	font-size: 16px;
	background-color: #666;
}

.align
{
	align-content: center;
	text-align: center;
}
.red
{
	background-color: red;
}
.hitem{
	font-weight: bold;
	font-size: 25px;
	margin: 3px;
}

.itemsFilter {
	border: 2px solid;
	width: 210px;
	text-align: center;
	margin: 2px;
	display: none;
}

.show {
	display: block;
}

.container {
	margin-top: 20px;
	overflow: hidden;
}

.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}

.btn:hover {
	background-color: #ddd;
}

.btn.active {
	background-color: #666;
	color: white;
}
.catalog{
	display: flex;
	flex-direction: column;
}
.st_catalog{
	font-size: 30px;
	font-weight: bold;
	color: blue;
}
